textarea {
    outline: none;
}

.info-div {
    height: fit-content;
    background-color: white;
}

.course-info-head {
    padding: 15px;
}

.course-info-head-left {
    float: left;
}

.course-info-head-right {
    float: right;
}

.course-name {
    font-size: x-large;
    font-weight: bold;
    color: #484848;
    padding-bottom: 3ex;
}

.course-teacher {
    padding-left: 5ex;
    font-size: small;
    color: gray;
}

.course-info-content {
    padding-top: 5ex;
}

.single-info-content {
    padding: 5px 20px;
    border: 1px solid gray;
    color: #484848;
    background-color: white;
    width: 100%;
    height: 6ex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-out;
}

.single-info-content:hover {
    background-color: #f3f3f3;
    /*color: white;*/
}

.single-button-div {
    width: fit-content;
    height: fit-content;
}

.single-show {
    float: left;
}

.single-delete {
    float: right;
    margin-left: 1ex;
}

.info-div {
    background-color: white;
    height: fit-content;
    width: 100%;
}

.info-table {
    width: 80%;
    margin: 20px 10%;
}

.table-title {
    padding: 10px;
    width: 20%;
}

.table-content {
    padding: 10px;
    width: 60%
}

.course-info-textarea {
    border-radius: 10px;
    padding: 10px 15px;
    width: 600px;
    max-width: 600px;
    min-width: 100px;
    height: fitcontent;
}