{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account</title>
    <!--css-->
    <link rel="shortcut icon" href="{% static 'homework/materials/icons/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'homework/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homework/css/for-all.css' %}">
    <link rel="stylesheet" href="{% static 'homework/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'homework/css/teacher.css' %}">
</head>

<body class="container-fluid">
<!--head start-->
<header class="row top">
    <div class="background-a">
        <img id="background-img" src="{% static 'homework/materials/images/lb1.png' %}"
             title="click to change background">
    </div>
    <img id="user-img" src="{% static 'homework/materials/user/icebear.jpg' %}" title="click to change user image">
    <!--profile start-->
    <div class="user-a">
        <div class="user-info-b">
            <h2 id="text-name">{{ student.name }}</h2>
            <h5 id="text-info">
                <span>city</span>
                <apan>{{ school.name }}</apan>
            </h5>
        </div>
        <div class="user-intro-b">
            <h6 id="text-intro">
                introduction here.introduction here.
                introduction here.introduction here.
                introduction here.introduction here.
                introduction here.introduction here.
                introduction here.introduction here.
            </h6>
        </div>
    </div>
    <!--profile end-->
</header>
<!--head end-->
<form class="school-form column-center" action="" method="post">
    <!--navigation start-->
    <div class="row">
        <!--substitute of navigation-a to realize the smooth transition of sticky-top navigationg-->
        {#    <div class="replacement"></div>#}
        <div class="navigation-a">
            <div class="navigation-b col-10 offset-1">
                <div class="row">
                    <!--left navigation bar start-->
                    <div class="navigation-nav-c col-6">
                        <ul class="nav nav-justified main-nav">
                            <li class="nav-item">
                                <a class="main-nav-a nav-link active main-nav-active" id="nav-info" data-toggle="tab"
                                   href="#info">个人信息</a>
                            </li>
                            <li class="nav-item">
                                <a class="main-nav-a nav-link" id="nav-course" data-toggle="tab" href="#course">
                                    我的课程</a>
                            </li>
                        </ul>
                    </div>
                    <!--left navigation bar end-->
                    <!--right button bar start-->
                    <div class="navigation-btn-c col-4 offset-2">
                        <div class="row">
                            <button type="submit" name="exit" class="navigation-button btn btn-danger col-4 offset-2">
                                退出登录
                            </button>
                        </div>
                    </div>
                    <!--right button bar end-->
                </div>
            </div>
        </div>
    </div>
    <!--navigation end-->

    <!--main content start-->
    <div class="row">
        <div class="col-10 offset-1">

            <div class="tab-content">
                <!--content start-->
                {#            <div class="col-12 no-gutters">#}
                <!--information start-->
                <div class="tab-pane fade show active" id="info">
                    <div class="row">
                        <div class="col-12 info-div"></div>
                    </div>
                    <div class="info-div" style="height: fit-content;background-color: white;"></div>
                </div>
                <!--information end-->
                <!--course start-->
                <div class="tab-pane fade" id="course">
                    <div class="row">
                        <!--sub navigation start-->
                        <div class="col-2 no-gutters">
                            <ul class="nav flex-column sub-nav">
                                <li class="nav-item">
                                    <a class="sub-nav-a nav-link active sub-nav-active" data-toggle="pill"
                                       id="choice0"
                                       href="#course0">{{ subject_0.name }}</a>
                                </li>
                                {% for sub in info %}
                                    <li class="nav-item">
                                        <a class="sub-nav-a nav-link" data-toggle="pill"
                                           id="choice{{ forloop.counter }}"
                                           href="#course{{ forloop.counter }}">{{ sub.subject.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--sub navigation end-->
                        <div class="col-10 no-gutters info-div">
                            <div class="tab-content">
                                <!--course 1 start-->
                                <div class="tab-pane fade show active" id="course0">
                                    <div class="course-info-head">
                                        <div class="course-info-head-left">
                                            <span class="course-name">{{ subject_0.name }}</span>
                                            <span class="course-teacher">{{ teacher_0.name }}</span>
                                            <p title="点击编辑">这是成绩评定方式（可由老师编辑，学生可见）</p>
                                            <p title="点击编辑">这是course1简介（可由老师编辑，学生可见）</p>
                                        </div>
                                    </div>
                                    <div class="course-info-content">
                                        {% for hw in homework_0 %}
                                            <div class="single-info-content">
                                                <p class="single-name">{{ hw.assigment.name }}</p>
                                                <p class="single-count">{{ hw.already }}/{{ hw.need }}</p><!--收到四十分之三十份-->
                                                <p class="single-ddl">{{ hw.assigment.start_time }}~{{ hw.assigment.end_time }}</p>
                                                <!--截止时间-->
                                                <div class="single-button-div">
                                                    {% if hw.homework.whether_submit == 0 %}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">提交作业
                                                        </button>
                                                    {% elif hw.homework.whether_submit == 1 and hw.homework.whether_correct == 0%}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">重新提交
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">查看成绩{{ assi.homework.whether_submit }}
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!--course 1 end-->
                                <!--course 2 start-->
                                {% for i in info %}
                                    <div class="tab-pane fade" id="course{{ forloop.counter }}">
                                        <div class="course-info-head">
                                            <div class="course-info-head-left">
                                                <span class="course-name">{{ i.subject.name }}</span>
                                                <span class="course-teacher">{{ i.teacher.name }}</span>
                                                <p title="点击编辑">这是成绩评定方式（可由老师编辑，学生可见）</p>
                                                <p title="点击编辑">这是course1简介（可由老师编辑，学生可见）</p>
                                            </div>
                                        </div>
                                        <div class="course-info-content">
                                            {% for assi in i.assigment %}
                                                <div class="single-info-content">
                                                    <p class="single-name">{{ assi.assigment.name }}</p>
                                                    <p class="single-count">{{ assi.already }}/{{ assi.need }}</p><!--收到四十分之三十份-->
                                                    <p class="single-ddl">{{ assi.assigment.start_time }}~{{ assi.assigment.end_time }}</p>
                                                    <!--截止时间-->
                                                    <div class="single-button-div">
                                                    {% if assi.homework.whether_submit == 0 %}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">提交作业
                                                        </button>
                                                    {% elif assi.homework.whether_submit == 1 and assi.homework.whether_correct == 0 %}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">重新提交
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" name="check" value="{{ assi.id }}"
                                                                class="single-show btn btn-info">查看成绩
                                                        </button>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <!--course 2 end-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--course end-->
                {#            </div>#}
                <!--content end-->
            </div>
        </div>
    </div>
    <!--main content end-->
</form>
<!--footer start-->
<footer class="row">
    <div class="footer-box">
        <div class="contact">
            <h6 class="text-contact">contact us</h6>
            <h6 class="text-contact"><a>here</a> or <a>here</a>.</h6>
        </div>
        <div class="share">
            <img class="share-img" src="{% static 'homework/materials/icons/sina.png' %}">
            <img class="share-img" src="{% static 'homework/materials/icons/wc.png' %}">
            <img class="share-img" src="{% static 'homework/materials/icons/gh.png' %}">
        </div>
    </div>
</footer>
<!--footer end-->

<!--script-->
<script src="{% static 'homework/js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'homework/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'homework/js/account.js' %}"></script>
</body>

</html>