<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!--meta头-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <!--bootstrap部分-->
    <!--link头-->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!--script头-->
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--重写部分-->
    <link>
    <script></script>

</head>

<body>

</body>

</html>